.counter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
  padding: 10px 0;
  background-color: black;
}

.counter-button {
  background-color: blue;
  font-size: 20px;
  width: 150px;
  height: 50px;
  outline: none;
  cursor: pointer;
  color: white;
}

.count {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
