.homework21-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 400px;
  margin: 10px;
  background-color: wheat;
}

.like-container,
.dislike-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 90px;
}

.like-container p,
.dislike-container p {
  font-size: 30px;
}

.like-container img,
.dislike-container img {
  height: 40px;
  width: 40px;
  margin: 8px;
}

.button-container {
  width: 150px;
  height: fit-content;
  margin: 10px;
}
